{%extends 'base.html'%}

{%block title%} Chart {%endblock title%}

{%block content%}
<!-- {{price.mean|floatformat}} <br>
{{price.std|floatformat}} <br>
{{price.median}} <br> -->
<!-- {{queryset}} -->
<div class="container mt-4">
    <!-- {{product_df | safe}} -->

    <!-- <br>
    {{purchase_df | safe}}
    <br> -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-primary">
                <div class="card-header text-center border-primary">
                    <h4>CHART PAGE</h4>

                    <div>

                        <form action="" class="form-group" method="POST">
                            {%csrf_token%}
                            <!-- <input type="hidden" name="sales"> -->
                            <div class="form-group">
                                <!-- <label for="exampleFormControlSelect1">Select a Chart</label> -->
                                <select name="sales" class="form-control" id="exampleFormControlSelect1">
                                    <option value="" selected disabled>Please select</option>
                                    <option value="bar">Bar</option>
                                    <option value="line">Line</option>
                                    <option value="count">Count</option>
                                    <!-- <option>4</option> -->
                                    <!-- <option>5</option> -->
                                </select>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <label class="">Date From</label>
                                    <input type="text" id="datepicker" name='date_from' class=" form-control"
                                        placeholder="Date From">
                                </div>
                                <div class="col">
                                    <label class="">Date to</label>
                                    <input type="text" id="datepicker2" class="form-control" name='date_to'
                                        placeholder="Date To">
                                </div>
                            </div>

                            <div class="mt-4">
                                <button class="btn btn-block btn-primary" type="submit">show chart</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    {%if error_msg %}
                    <h4 class="text-center text-danger">{{error_msg}}</h4>
                    {%else%}
                    {%if request.POST %}
                    {%if graph %}
                    <img src="data:image/png;base64,{{graph|safe}}" class="img-fluid" alt="">
                    <div class="card-footer text-center">
                        <!-- <</h4> -->
                        <button data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-info">Info</button>

                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <!-- <h4 class="modal-title">Chart Statastics</h4> -->
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body text-center">
                                        <!-- Modal body.. -->
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Product Count
                                                <span class="badge badge-primary badge-pill">{{price.count}}</span>
                                              </li>
                                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Product Price Max
                                                <span class="badge badge-primary badge-pill">{{price.max}}</span>
                                              </li>
                                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Product Price Min
                                                <span class="badge badge-primary badge-pill">{{price.min}}</span>
                                              </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                              Product Price Mean
                                              <span class="badge badge-primary badge-pill">{{price.mean|floatformat}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                              Product Price STD
                                              <span class="badge badge-primary badge-pill">{{price.std|floatformat}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                              Proudct Price Median
                                              <span class="badge badge-primary badge-pill">{{price.median}}</span>
                                            </li>
                                          </ul>

                                        

                                    </div>

                                    <!-- Modal footer -->
                                    <!-- <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div> -->

                                </div>
                            </div>
                        </div>

                    </div>
                    {%endif%}
                    {%endif %}
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block script%}

<script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });

    $('#datepicker2').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>

{%endblock script%}